
$contactbg: #000000;
$introbg: #ffffff;
$shopsbg: #000000;
$tradesbg: #ffffff;
$textcolour: white;

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        overflow:hidden;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .intro-section {
      padding-top: 5%;
      padding-bottom:5%;
      overflow:hidden;
      color:black;
    }

    .shop-section {
      padding-top: 5%;
      padding-bottom:5%;
      overflow:hidden;
    }

    .trades-section {
      padding-top: 5%;
      padding-bottom:5%;
      overflow:hidden;
      color:black;
    }

    .contact-section {
      padding-top: 5%;
      padding-bottom:5%;
      overflow:hidden;
    }
}

.landing-page {

  .intro-text {
    text-decoration:underline;
    font-weight:200px;
  }

  #intro-name {
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 1s;
  }
}


.intro-section {
    height: auto;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    background: $introbg;
    overflow:hidden;

    h1 {
      color: black;
    }

    p {
      color:black;
    }

    #firstbtn {
      margin-top:40px;
    }

    .townLogo {
      border-radius: 50%;
      margin-top:10px;
      -webkit-animation-delay: 3s;
      -webkit-animation-duration: 2s;
    }
}

.song-section {
    height: auto;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    background: $shopsbg;


    h1 {
      color:$textcolour;
      margin-bottom:20px;
    }

    h3 {
      color:$textcolour;
      margin-bottom:20px;
    }

    p {
      color:$textcolour;
    }

    #shops-btn{
      margin-top: 40px;
      margin-bottom: 40px;
    }

    #second-btn {
      margin-top:40px;
    }
}

.guitar-section {
    height: auto;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    background: $tradesbg;
    color:black;

    .esguitar {
      margin-top: 20px;
      margin-bottom: 20px;

    }

    img {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    h1 {
      color:black;
    }

    h3 {
      color:black;
    }

    p {
      color:black;
    }
    #third-btn {
      margin-top:40px;
    }
}

.contact-section {
    height: auto;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    background: $contactbg;

    h1 {
      text-align: center;
      margin-top: 5%;
      color:$textcolour;
    }

    h3 {
      color:$textcolour;
    }

    #contact-btn {
      margin-top:40px
    }

    h5 {
      color:$textcolour;
    }

    .contact-header {
      font-size:60px;
    }
    .externalLink {
      color:white;
      text-decoration: underline;
    }
}

.email{
  color:white;
  text-decoration: underline;
}
